.App {
    display: flex;
    text-align: center;
    @media screen and (min-width: 768px) {
        main {
            width: 708px;
            margin: auto;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
    @media screen and (max-width: 768px) {
        main {
            width: calc(100% - 24px);
            margin: 0px 12px;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}
